@page "/DeleteBoard/{ID:int}"
@using SurfProjektBlazor.Shared
@inject HttpClient httpClient
@inject NavigationManager navigationManager
<h3>Detaljer</h3>

@if(board != null){
    <div>
    <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @board.Name
            </dd>
            <dt class="col-sm-2">
               Length
            </dt>
            <dd class="col-sm-10">
                @board.Length
            </dd>
            <dt class="col-sm-2">
                Width
            </dt>
            <dd class="col-sm-10">
                @board.Width
            </dd>
            <dt class="col-sm-2">
                Thickness
            </dt>
            <dd class="col-sm-10">
                @board.Thickness
            </dd>
            <dt class="col-sm-2">
               Volume
            </dt>
            <dd class="col-sm-10">
                @board.Volume
            </dd>
            <dt class="col-sm-2">
                Type
            </dt>
            <dd class="col-sm-10">
                @board.Type
            </dd>
            <dt class="col-sm-2">
                Price
            </dt>
            <dd class="col-sm-10">
                @board.Price
            </dd>
            <dt class="col-sm-2">
                <button @onclick="delete" class="btn btn-danger">Slet</button>
            </dt>
            @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Equipment)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
            </dd>*@
        </dl>
    </div>
    <div>
        <a @onclick="BackToList" class="btn-link">Tilbage til oversigt</a>
    </div>
}
else{
    <div>Boardet blev ikke fundet</div>
}

@code {
    [Parameter]
    public int ID { get; set; }

    private Boards? board;
    string URL = "";

    protected async override Task OnInitializedAsync()
    {
        ID = ID;
        URL = $"https://localhost:7244/api/Boards/{ID}?api-version=2.0";
        board = await httpClient.GetFromJsonAsync<Boards>(URL);
    }

    public void BackToList()
    {
        navigationManager.NavigateTo("/BoardsList");
    }

    public async Task delete()
    {
        HttpResponseMessage response;
        response = await httpClient.PostAsJsonAsync<Boards>("https://localhost:7244/api/Boards/deleteboard", board);

        if (response.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo("/BoardsList");
        }
    }

}


